<div class="container">
    <div class="row">
      <div class="col-12">
        
        {{!-- JUMBOTRON HEADING --}}
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-3">Fluid jumbo heading</h1>
            <p class="lead">Jumbo helper text</p>
            <button type="button" class="secondary" style="margin-left: 950px; margin-bottom: -10px;">Highscores</button>
            </p>
          </div>
        </div>
      </div>   
    </div>

{{!-- ALBUM ART --}}
    <div class="row">
      <div class="col-6">
        {{!-- FIRST CARD --}}
       <div cla ss="card bg-dark text-white">
          <img class="card-img" src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/602f4731226337.5646928c3633f.jpg" alt="Card image">
          <div class="card-img-overlay">
          </div>
        </div>
      </div>
  
      <div class="col-6 ">
        <div class="card">
          <div class="card-body">
            {{!-- HEADING --}}
            <h4 class="card-title" style="text-align:center; font-size:50px; font-family: 'CaveStoryRegular';">Name that artist!</h4>
              {{!-- SPOTIFY EMBEDED PLAYER --}}
                <div class="container"  style=" height:auto; ">
                  <iframe src="https://open.spotify.com/embed/album/1DFixLWuPkv3KT3TnV35m3" width="470" height="200" frameborder="0" autoplay="true" allowtransparency="false" allow="encrypted-media"></iframe>
                  </div>
                {{!-- <p class="card-text">Text</p> --}}
              </div>
            </div>
          </div>
        </div>
<br>
  {{!-- SECOND CARD --}}
  <div class="row">
      <div class="col-4">
          <div class="card">
            <div class="card-body">
              <blockquote class="blockquote">
                {{!-- HEADING --}}
                <p style="text-align:center; font-size:30px; font-family: 'CaveStoryRegular'; "><i class="fas fa-trophy"></i>Points</p>
                {{!-- POINTS DISPLAY --}}
                <footer class="card-blockquote" style="text-align:center; font-size:50px; font-family: 'CaveStoryRegular';"><cite title="Source title"> 1000000</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
              <div class="col-4">
          <div class="card">
            <div class="card-body">
              <blockquote class="blockquote">
                {{!-- HEADING --}}
                <p style="text-align:center; font-size:30px; font-family: 'CaveStoryRegular'; "><i class="fas fa-trophy"></i>Streak</p>
                {{!-- POINTS DISPLAY --}}
                <footer class="card-blockquote" style="text-align:center; font-size:50px; font-family: 'CaveStoryRegular';"><cite title="Source title"> 1000</cite></footer>
              </blockquote>
            </div>
          </div>
        </div>
              <div class="col-4">
          <div class="card">
            <div class="card-body">
              <blockquote class="blockquote">
                {{!-- HEADING --}}
                <p style="text-align:center; font-size:35px; font-family: 'CaveStoryRegular'; "><i class="fas fa-trophy"></i>Lives</p>
                {{!-- POINTS DISPLAY --}}
                <footer class="card-blockquote" style="text-align:center; font-size:50px; font-family: 'CaveStoryRegular';"><cite title="Source title"> 1000000</cite></footer>
              </blockquote>
            </div>
         </div>               
        </div>         
    </div>
    </div>
<br>
<br>

{{!-- THIRD CARD --}}



{{!-- ANSWER PLACEHOLDER --}}
    <div class="container">
    <div class="row">
      {{!-- ANSWER 1 --}}
         {{!-- The Answer Buttons --}}
  <div class="col align-self-center">
    <div class="container" id="answerBox">
      <div class="row">
        <div id="btn1" class="offset-2 col-4"> <a class="push_button blue" href="#">Answer A </a>
          <a class="push_button blue" href="#">Answer B </a>
        </div>
        <div id="btn3" class="col-4"> <a class="push_button blue" href="#">Answer C </a>
          <a class="push_button blue" href="#">Answer D </a>
        </div>
      </div>
    </div>
{{!-- END-GAME BUTTON --}}
    <div class="row">
      <div class="col-12">
        <br>
        <br>
        <button type="button" class="btn btn-dark-outline" style="margin-left: 950px;">End Game</button>
      </div>
    </div>
