<div class="container">
<div class="row">
    <div class="col-12">
    {{!-- JUMBOTRON HEADING --}}
    <div class="jumbotron jumbotron-fluid" style="background-color: 	#535353;">
        <div class="container">
        <h1 class="display-3">Fluid jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <a class="btn btn-large btn-block" href="/game" role="button" style="width: 750px; height: 75px; margin-left: 175px; font-size:40px; 
        background-color: #a5494d;  color: bisque;">Game</a>
        </p>
        </div>
    </div>
    </div>   

{{!-- MAIN CONTAINER --}}
<div class="container">
    {{!-- CARD 1 BACKGROUND COLOR  --}}
    <div class="card" style="background-color: #e5a267 ;">
        {{!-- FIRST CARD --}}
        <div class="card-body">
            <h4 class="card-title">Title</h4>
            <p class="card-text">Text</p>
            <div class="row align-items-start">
                <div class="container col-4" id="">
                    {{!-- HIGHSCORES CARD BG COLOR --}}
                    <div class="card" style="background-color: #d27254;">
                        {{!-- HIGHSCORES --}}
                        <img class="card-img-top" src="holder.js/100x180/" alt="">
                        <div class="card-body" id="hsBox">
                        <h2 id="hsHead"> <span><strong> High Scores </strong></span></h2>
                    <div class="list" id="tcolor">
                        <div id="hs1"><a><span><strong> Player </strong> 1 </span></a></div>
                        <div id="hs2"><a><span><strong> Player </strong> 2 </span></a></div>
                        <div id="hs3"><a><span><strong> Player </strong> 3 </span></a></div>
                        <div id="hs4"><a><span><strong> Player </strong> 4 </span></a></div>
                        <div id="hs5"><a><span><strong> Player </strong> 5 </span></a></div>
                        <div id="hs6"><a><span><strong> Player </strong> 6 </span></a></div>
                        <div id="hs7"><a><span><strong> Player </strong> 7 </span></a></div>
                        <div id="hs8"><a><span><strong> Player </strong> 8 </span></a></div>
                        <div id="hs9"><a><span><strong> Player </strong> 9 </span></a></div>
                        <div id="hs10"><a><span><strong> Player </strong> 10 </span></a></div>
                    </div>
                </div>
            </div>   
        </div>

    {{!--SECOND CARD ------
    -       LOGIN FORM           -
    ---------------------------------}}
    <div class="container col-4" id="">
        <div class="card" style="background-color: #d27254;">
            <div class="card-body">
            <div class="container" id="side1">

                {{!-- HEADING --}}
            <h2 id="infoHead"> <span><strong> Player Sign In </strong></span></h2>
            <form id="loginForm">

                {{!-- USERNAME INPUT --}}
                <div class="form-group">
                    <label for="playerId"> <span><strong> Username </strong></span></label>
                    <input type="text" class="form-control" id="username_login" aria-describedby="username" placeholder="Enter User Name">
                </div>
                <div id="dom">
                {{!-- PASSWORD INPUT --}}
                <div class="form-group" >
                    <label for="Password"> <span><strong> Password </strong></span></label>
                    <input type="password" class="form-control" id="password_login" placeholder="Password">
                </div>

                {{!-- LOGIN BUTTON --}}
                <button type="submit" class="btn btn-lg btn-block switch" style=" background-color: #a5494d ;  color: bisque;">Login</button>
                
                    {{!-- POST NEW USER --}}
                    <button type="button" id="register" class="btn btn-lg btn-block switch" style=" background-color: #a5494d ; color: bisque;">Create</button>
                    </div>
            </form>

{{!-- HEADING --}}

            <div id="side2">   
                <h2 id="signUpHead"> <span><strong> Create New User Name </strong></span></h2>
                <form id="signUpForm">

                    {{!-- NEW USER: USERNAME INPUT --}}
                    <div class="form-group">
                        <label for="playerId"> <span><strong> New Player Name </strong></span></label>
                        <input type="text" class="form-control" id="username_new" aria-describedby="userName" placeholder="Enter User Name">
                    </div>

                    {{!-- NEW USER: PASSWORD INPUT --}}
                    <div class="form-group">
                        <label for="exampleInputPassword1"> <span><strong> Password </strong></span></label>
                        <input type="password" class="form-control" id="password_new" placeholder="Password">
                    </div>

                    {{!-- POST NEW USER --}}
                    <button type="submit" class="btn btn-lg btn-block" style=" background-color: #d27254;  color: bisque;">Create</button>
                </form>
                </div>
        </div>


            </div>
        </div>
        </div>
        </div>
        </div>
    </div>        
</div>

{{!-- LINKING DEPENDENCIES --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function(){
            $("#register").click(function(){
           $( "#dom" ).replaceWith( $( "#side2" ));
            });
        });       
    </script>