<!--<div class="container">
<div class="row">
    <div class="col-12">
    {{!-- JUMBOTRON HEADING --}}
    <div class="jumbotron jumbotron-fluid" style="background-color: 	#535353;">
        <div class="container">
        <h1 class="display-3">Fluid jumbo heading</h1>
        <p class="lead">Jumbo helper text</p>
        <a class="btn btn-large btn-block" href="/game" role="button" style="width: 750px; height: 75px; margin-left: 175px; font-size:40px; 
        background-color: #a5494d;  color: bisque;">Game</a>
        </p>
        </div>
    </div>
</div>-->   

{{!-- MAIN CONTAINER --}}
<div class="container">
    {{!-- CARD 1 BACKGROUND COLOR  --}}
        <div class="card" style="background-color: #e5a267 ;">
            {{!-- FIRST CARD --}}
            <div class="card-body">
                <h4 class="card-title">Title</h4>
                <p class="card-text">Text</p>
                <div class="row align-items-start">
                    <div class="container col-4" id="">
                        {{!-- HIGHSCORES CARD BG COLOR --}}
                        <div class="card" style="background-color: #d27254;">
                            {{!-- HIGHSCORES --}}
                            <img class="card-img-top" src="holder.js/100x180/" alt="">
                            <div class="card-body" id="hsBox">
                                <h2 id="hsHead"> <span><strong> High Scores </strong></span></h2>
                                <div class="list" id="tcolor">
                                    <div id="hs1"><a><span><strong> Player </strong> 1 </span></a></div>
                                    <div id="hs2"><a><span><strong> Player </strong> 2 </span></a></div>
                                    <div id="hs3"><a><span><strong> Player </strong> 3 </span></a></div>
                                    <div id="hs4"><a><span><strong> Player </strong> 4 </span></a></div>
                                    <div id="hs5"><a><span><strong> Player </strong> 5 </span></a></div>
                                    <div id="hs6"><a><span><strong> Player </strong> 6 </span></a></div>
                                    <div id="hs7"><a><span><strong> Player </strong> 7 </span></a></div>
                                    <div id="hs8"><a><span><strong> Player </strong> 8 </span></a></div>
                                    <div id="hs9"><a><span><strong> Player </strong> 9 </span></a></div>
                                    <div id="hs10"><a><span><strong> Player </strong> 10 </span></a></div>
                                </div>
                            </div>
                        </div>   
                    </div>
                

                    {{!--SECOND CARD ------
                    -       LOGIN FORM           -
                    ---------------------------------}}
                    <div class="container col-4" id="switch1">
                        <div class="card" style="background-color: #d27254;">
                            <div class="card-body">
                                <div class="container" id="side1">

                                        {{!-- HEADING --}}
                                    <h2 id="infoHead"> <span><strong> Player Sign In </strong></span></h2>
                                    <form id="theForm">

                                        {{!-- USERNAME INPUT --}}
                                        <div class="form-group">
                                            <label for="playerId"> <span><strong> Username </strong></span></label>
                                            <input type="text" class="form-control" id="username_login" aria-describedby="username" placeholder="Enter User Name">
                                        </div>
                                        <div id="dom">
                                        {{!-- PASSWORD INPUT --}}
                                        <div class="form-group">
                                            <label for="Password"> <span><strong> Password </strong></span></label>
                                            <input type="password" class="form-control" id="password_login" placeholder="Password">
                                        </div>

                                        {{!-- LOGIN BUTTON --}}
                                        <button type="button" id="login_btn" class="btn btn-lg btn-block switch" style=" background-color: #a5494d ;  color: bisque;">Login</button>
                                        
                                        {{!-- POST NEW USER --}}
                                        <button type="button" id="signup_btn" class="btn btn-lg btn-block switch" style=" background-color: #a5494d ; color: bisque;">Sign Up</button>
                                        </div>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!--drop down hidden for now-->
                    <div id ="menu" class="card" style="background-color: #d27254;">
                        <div class="card-body">
                            <div class="container col-4" id="genreBox">
                                <div class="container" id="GsubBox">
                                    <h2 id="genreHead"> <span><strong>Pick Your Favorite Genre </strong></span></h2>
                                    <form id="loginForm">
                                        <div class="form-group" id=gGroup>
                                            <label for="GenreSelect"> <span><strong> Select Genre </strong></span></label>
                                                <div class="dropdown">
                                                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                    Select Genre
                                                    </button>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                    <a class="dropdown-item" data-genre="hip_hop" id="hip_hop" >Hip Hop</a>
                                                    <a class="dropdown-item" data-genre="rock" id="rock" >Rock</a>
                                                    <a class="dropdown-item" data-genre="rap" id="rap" >Rap</a>
                                                    <a class="dropdown-item" data-genre="country" id="country" >Country</a>
                                                    <a class="dropdown-item" data-genre="electronic" id="electronic" >Electronic</a>
                                                    <a class="dropdown-item" data-genre="trap" id="trap" >Trap</a>
                                                    <a class="dropdown-item" data-genre="death_metal" id="death_metal" >Death Metal</a>
                                                    <a class="dropdown-item" data-genre="classic_rock" id="classic_rock" >Classic Rock</a>
                                                    <a class="dropdown-item" data-genre="hair_metal" id="hair_metal" >Hair Metal</a>
                                                    <a class="dropdown-item" data-genre="jazz" id="jazz" >Jazz</a>
                                                    <a class="dropdown-item" data-genre="soul" id="soul" >Soul</a>
                                                    <a class="dropdown-item" data-genre="reggae" id="reggae" >Reggae</a>
                                                    <a class="dropdown-item" data-genre="ska" id="ska" >Ska</a>
                                                </div>
                                                <button id="start_game" type="button" class="btn btn-primary">Start the Game</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end drop down-->

                </div>
        </div>        
    </div>
</div>

{{!-- LINKING DEPENDENCIES --}}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TimelineLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.2/plugins/CSSPlugin.min.js"></script>
    <script src="js/main.js"></script>
    <script>
        $(document).ready(function(){
            $("#register").click(function(){
           $( "#dom" ).replaceWith( $( "#side2" ));
            });
        });       
    </script>