/* HIGHSCORES LIST  */
.list {
  list-style: none;
  text-align: left;
  margin: 0 5px 0 2px;
  padding: 0;
  padding-bottom: 20px;
  font-size: 20px; 
  color: ghostwhite;}
 
  #tcolor {
    color: bisque;
  }
  /* LIST HOVER*/
  .list a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fefefe;
    background-color:#a5494d ;
    border: #a5494d ;
    border-style: groove; 
      border-radius: 20px;
  }
    .list a:hover {
      background-color: coral; }
      .list a:hover span {
        left: 8px;
        -webkit-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out;
      }
  .list li {
    margin: 0 0 1px 0;
    padding: 0; }

    /* HIGHSCORES */

    /* BACKGROUND */
 #hsBox{
      background-color:#a5494d ;
      border: #a5494d ; 
      border-style: groove;
      border-radius: 20px;
      color: #fefefe;
      padding-top: 20px;
      margin-top: 15px;
  }
  /* HEADING */
  #hsHead {
      background-color:#a5494d ;
      border: #a5494d ;
      border-style: groove;
      color: bisque;
      text-align: center;
      border-radius: 10px;
      margin-bottom: 15px;
  }
  /*  */

  /* SIGN IN BACKGROUND */
  #subBox{
    background-color:#a5494d ;
    border: #a5494d ;
    color: bisque;
    border-style: groove;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
  }
  /* CREATE USER BACKGROUND */
  #signBox{
    background-color:#a5494d ;
    border: #a5494d ;
    color: bisque;
    border-style: groove;
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
  }
  /* CREATE USER HEADING */
  #signUpHead{
    background-color:#a5494d ;
    border: #a5494d ;
    color: bisque;
    border-style: groove;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
  }
  /*  */

  /* SIGN IN HEADING */
  #infoHead{
    background-color:#a5494d ;
    border: #a5494d ;
    color: bisque;
    border-style: groove;
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    padding: 10px;
  }
