/* HIGHSCORES LIST  */
@import url("https://fonts.googleapis.com/css?family=Orbitron");

/* BODY */
body {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover, contain;
  height: 1500px;
  margin-bottom: 50px;
}

/* BG COLOR */
#bg {
  background-color: #f4cc81;
  background-repeat: no-repeat;
  border-style: hidden;
}

/* SHADOW FOR CONTAINERS */
#shadow {
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
}

/* ANSWER BOX ICONS */
#fa-question {
  margin-top: 20px;
  font-size: 25px;
}

/* ICONS */
#navhead {
  font-size: 25px;
}

#navhead1 {
  font-size: 20px;
}

/* END ICONS */
/* LOGO STYLING */
#logo {
  font-family: "Orbitron", sans-serif;
  color: #ee7f52;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 150px;
  font-weight: 800;
  letter-spacing: -3px;
  line-height: 1;
  margin-left: 185px;
}

/* END LOGO STYLING */
/* text color styling */
#tcolor {
  color: white;
}

/* HIGHSCORE LIST STYLING */
.list {
  list-style-type: square;
  text-align: left;
  font-size: 20px;
  line-height: 2;
}

/* LIST HOVER*/
.list a {
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #fefefe;
  background-color: #ee7f52;
  /* border-style: groove;  */
  border-radius: 3px;
}

.list a:hover {
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
}

.list a:hover span {
  left: 8px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.list li {
}

#hs1,
#hs2,
#hs3,
#hs4,
#hs5,
#hs6,
#hs7,
#hs8,
#hs9,
#hs10 {
  border-bottom: 2px solid #f4cc81;
}

#access li {
  margin: 0 0 30px 0;
}

/* END LIST */
/* HIGHSCORES */
/* BACKGROUND */
#hsBox {
  background-color: #f4cc81;
  border: #a5494d;
  /* border-style: groove; */
  border-radius: 5px;
  color: white;
  padding-top: 30px;
  margin-top: 17px;
  -webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, 0.15);
}

/* HEADING */
#hsHead {
  background-color: #f4cc81;
  border: #a5494d;
  /* border-style: groove; */
  color: black;
  text-align: center;
  border-radius: 3px;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

/* SIGN IN BACKGROUND */
#subBox {
  background-color: #ee7f52;
  border: #a5494d;
  color: bisque;
  border-style: groove;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px;
  border-radius: 3px;
}

/* SIGN IN HEADING */
#infoHead {
  background-color: #f4cc81;
  border: #a5494d;
  color: black;
  /* border-style: groove; */
  text-align: center;
  border-radius: 3px;
  margin-top: 8px;
  padding-bottom: 5px;
}

/* SIDE 2 FOR GENRE PICK */
#side2 {
  backface-visibility: hidden;
  border-radius: 0px;
  height: 100%;
  position: absolute;
  overflow: hidden;
  width: 100%;
  visibility: hidden;
}

/* ANSWER BOX STYLING */
.navbox-tiles {
  width: 100%;
  padding: 25px;
}

.navbox-tiles .tile {
  display: block;
  background-color: #ee7f52;
  width: 70.3030303030303%;
  height: 70%;
  padding-bottom: 29%;
  float: left;
  border: 2px solid transparent;
  color: #fff;
  position: relative;
}

.navbox-tiles .tile .icon {
  width: 100%;
  height: 100%;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
}

.navbox-tiles .tile .icon .fa {
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-backface-visibility: initial;
  backface-visibility: initial;
}

.navbox-tiles .tile .title {
  padding: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.navbox-tiles .tile:hover {
  border-color: #fff;
  text-decoration: none;
}

.navbox-tiles .tile:not(:nth-child(3n + 3)) {
  margin-right: 4.54545454545455%;
}

.navbox-tiles .tile:nth-child(n + 4) {
  margin-top: 15px;
}

@media screen and (max-width: 370px) {
  .navbox-tiles .tile .icon .fa {
    font-size: 25px;
  }

  .navbox-tiles .tile .title {
    padding: 3px;
    font-size: 11px;
  }
}

/* .modal {
  max-width: 800px !important;
  height: 800px !important;
  margin: auto auto;
} */

.modal-dialog,
.modal-content {
  height: 80%;
  width: 800px;
  margin: 0 20%;
  margin-top: 100px;
  
}

.modal-content {  
  background-color: #f4cc81;
}

.modal-container-outer {
  background: white;
  /* margin: 0 auto; */
  
  width: 600px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 20px;
}

/* END ANSWER STYLING */

