.list-group-item {
  line-height: 2.5;
}

/* css styles for the animations */
.list {
  list-style: none;
  text-align: left;
  margin: 0 5px 0 2px;
  padding: 0;
  padding-bottom: 20px;
  font-size: 20px; 
  color: ghostwhite;}

  .list a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: #fefefe;
    background-color:dimgrey;
    border: goldenrod;
    border-style: groove; 
    box-shadow: 5px 10px;
      border-radius: 20px;
  }
    .list a:hover {
      background-color: rgba(22, 53, 230, 0.7); }
      .list a:hover span {
        left: 8px;
        -webkit-transition: all 0.2s ease-out;
                transition: all 0.2s ease-out; }
  .list li {
    margin: 0 0 1px 0;
    padding: 0; }
#hsBox{
  border: goldenrod;
  border-style: groove;
  border-radius: 20px;
  background-color: rgb(8, 114, 226);
  color: #000000;
  box-shadow: 15px 30px;
  padding-top: 20px;
  margin-top: 15px;
  
    
    }
    #hsHead{
      background-color: rgba(129, 187, 13, 0.767);
      border: goldenrod;
      border-style: groove;
      color: rgb(8, 8, 8);
      text-align: center;
      border-radius: 10px;
      box-shadow: 5px 10px;
      margin-bottom: 15px;
  }
  #infoBox{
    border: goldenrod;
    border-style: groove;
    background-color: rgb(9, 183, 38);
    border-radius: 20px;
    padding:10px;
    margin-top: 15px;
    box-shadow: 15px 30px;
    margin-bottom: 35px;
  }
  #subBox{
    border: goldenrod;
    border-style: groove;
    background-color:rgb(8, 114, 226);
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 10px;
  }
  #infoHead{
    background-color: rgb(163, 100, 175);
    border: goldenrod;
    border-style: groove;
    color:rgba(4, 6, 19, 0.7);
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 5px 10px;
    padding: 10px;
  }

  #signBox{
    border: goldenrod;
    border-style: groove;
    background-color: rgb(187, 102, 33);
    margin-bottom: 15px;
    margin-top: 15px;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 5px 10px;
  }
  #signUpHead{
    background-color: rgb(163, 100, 175);
    border: goldenrod;
    border-style: groove;
    color:rgba(4, 6, 19, 0.7);
    text-align: center;
    border-radius: 20px;
    margin-top: 10px;
    box-shadow: 5px 10px;
    padding: 10px;
  }